.image{
    width: 200PX;
    height: 200PX;
    border-radius: 5%;
  
}
.product-card{

    background-color:#ffff;
    border: 1px solid black;
    padding:  5px 10px;
    margin:80px 40px;
    width:250px;
    
    border-radius:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: inline-block;
    text-decoration:none;
}
.product-card:hover{
 
    transform: scale(1.05);
    
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }
.price{
    background-color: black;
    color:#FFFF;
    padding:2px 5px;
    margin:7px;
    margin-left: 15px;
    font-size:15px;
    border-radius:10px;
    width:110px;
    }